.body{
    background: #CAFAFB ;
}


.form{
    background: oldlace;
}

.fondo_yo{
    background: white;
    margin-top: 40px;
    border: 2px solid silver;
    height: auto;
    max-width: 1300px;
}

h1{
    text-align: center;
    font-family:cursive;
}

hr{
    border-top: 5px solid black;
    width: 50%;
    margin: 0 auto;
}

h2, h3{
    font-family: cursive;
}

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.gif{
    display: block;
    margin: 0 auto;
}

.hr1{
    border-top: 5px solid blue;
    margin-left: 0;
    margin-right: auto;
    width: 15%;
    margin-bottom: 15px;
}

.img1{
    display: block;
    margin: 0 auto;
}

.hr2{
    border-top: 5px solid red;
    margin-left: 0;
    margin-right: auto;
    width: 15%;
    margin-bottom: 15px;
}

.table_pry{
    width: 500px;
    height: 360;
    border-collapse: collapse;
    margin: auto;
    padding-left: 60;
}

.bt_tbl{
    border: none;
    background-color: blue;
    border-radius: 5px;
    color: aliceblue;
}

.btn_cont{
    width: 100px;
    height: 45px;
    margin: 5px;
    text-align:center;
    background-color: #007bff;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    border: none;
}

/*FORMULARIO*/
.body_form{
    background: #CAFAFB ;
}

.fondo_form{
    background: white;
    margin-top: 40px;
    border: 2px solid silver;
    height: auto;
    max-width: 550px;
    text-align: center;
}

.sx{
    text-align: left;
}





